<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login & Registration Forms</title>
    <link rel="stylesheet" href="/css/style.css">

</head>
<body>
    <div class="container">
    <% if (typeof username !== 'undefined'){ %>
        <h2>Hola <%= username %>!</h2>
        <button id="close-session">Cerrar sesión</button>
    <% } %>

    <% if (typeof username === 'undefined'){ %>
        <!-- Login -->
        <form id="login-form">
        <h2>Login</h2>
        <label for="login-method">Gmail</label>
        <input id="login-username" type="text" required>
        <label for="login-method">Contrasenha</label>
        <input id="login-password" type="password" required>
        <label for="login-method">Método</label>
        <select id="login-method">
            <option value="cookie">Cookie (Sesión)</option>
            <option value="jwt">JWT</option>
        </select>
        <button type="submit">Login</button>
        <span id="login-span">&nbsp;</span>
        </form>

        <!-- Register -->
        <form id="register-form">
        <h2>Register</h2>
        <label for="login-method">Gmail</label>
        <input id="register-username" type="text" required>
        <label for="login-method">Contrasenha</label>
        <input id="register-password" type="password" required>
        <label for="login-method">Confirmar contrasenha</label>
        <input id="register-confirm-password" type="password" required>
        <button type="submit">Register</button>
        <span id="register-span">&nbsp;</span>
        </form>
    <% } %>
    </div>
<script src="/js/app.js" defer></script>

</body>
</html>